body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #af9ddefc;
  color: white;
  display: grid;
  grid-template-columns: auto;
  gap: 2px;
  grid-template-rows: 1fr 8fr 0.4fr;
}

header,
main,
footer {
  width: auto;
  height: auto;
  box-shadow: 4px 4px #ab97defc;
}

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
header h1 {
  font-size: 2.4em;
}

header h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  align-items: center;
  font-size: 1.4em;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: rgb(53, 143, 222);
}

.container {
  margin: 0;
  padding: 10px;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: space-between;
  gap: 10px;
}

.Card_Container {
  background-color: #d8cff0;
  box-shadow: 2px 2px #d8cff0dc;
  border-radius: 1rem;
  width: 300px;
  min-height: 450px;
  display: flex;
  flex-direction: column;

  gap: 1px;
  font-size: 1.4em;
}

.Card_Container .cardTop {
  display: flex;
  justify-content: center;
  background-color: #4a91e2e0;
  border: 2px solid #4a91e2f5;
  border-radius: 1rem;
}

.cardTop h3 {
  font-size: 1.4em;
}

.tarefa {
  background-color: #4a91e2e0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  padding: 4px;
  width: auto;
  height: auto;
  font-size: 1.4em;
}

.botao {
  border-radius: 10px;
  padding: 10px;
  background-color: #4a90e2;
  font-size: 2em;
}

.corpo-tarefas {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 10px 0;
}

.cardFotter {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.cardFotter button {
  background-color: #4a90e2;
  font-size: 1em;
  border-radius: 10px;
  padding: 6px;
  color: white;
}

.titulo_categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 280px;
  height: 150px;
  background-color: #d8cff0;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px;
  color: black;
}

.titulo_categorias input {
  padding: 8px;
  width: 100%;
}

.titulo_categorias button {
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}
